# Fichiers générés par .NET
bin/
obj/

# Fichiers temporaires de l'IDE
*.user
*.suo
*.ncb
*.sdf
*.cache
*.log
*.dmp

# Fichiers de build
*.dll
*.exe
*.pdb

# Autres
*.csproj.user
*.dbmdl
*.bak

# Fichiers de test
*.coverage
*.testresults

# Dépendances
packages/