<!-- First Part -->
<mat-grid-list cols="4" rowHeight="2:1">

    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-header><mat-icon>domain</mat-icon></mat-card-header>
            <mat-card-content>Nombre moyen d'éleves par class:</mat-card-content>
            <mat-card-content>26</mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-header><mat-icon>supervised_user_circle</mat-icon></mat-card-header>
            <mat-card-content>Nombre total d'élèves:</mat-card-content>
            <mat-card-content>470</mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-header><mat-icon>supervisor_account</mat-icon></mat-card-header>
            <mat-card-content>Nombre total de professeurs:</mat-card-content>
            <mat-card-content>48</mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-header><mat-icon>domain</mat-icon></mat-card-header>
            <mat-card-content>Nombre de classes:</mat-card-content>
            <mat-card-content>258</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>