<h2 mat-dialog-title>+ Add {{ data.entityName }}</h2>

<mat-dialog-content>
  <form [formGroup]="entityForm">
    <div *ngFor="let field of data.fields">

      <ng-template #defaultInput>
        <mat-form-field>
          <mat-label>{{ field.label }}</mat-label>
          <input matInput cdkFocusInitial [formControlName]="field.formControlName" [type]="field.type">
        </mat-form-field>
      </ng-template>
  
      <mat-form-field *ngIf="field.type === 'entity'; else defaultInput">
        <mat-label>{{field.formControlName}}</mat-label>
        <mat-select [formControlName]="field.formControlName" [compareWith]="isChecked" multiple>
          <mat-option *ngFor="let option of data.otherEntity" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button [mat-dialog-close]="entityForm.value" [disabled]="!entityForm.valid" cdkFocusInitial>Enregistrer</button>
</mat-dialog-actions>
