
//-------- Navigation Bar --------\\

//Side Bar (Left):
.side-bar-container {
    width: auto;
    height: 100%;
}
.side-bar-drawer-content {
    width: 15vw;
    border: 1px solid #696969;
    border-radius: 0%;
    background: #eeeded;
}
.btn-side-bar{
    width: 10vw;
}

//Nav Bar (Top):
.nav-bar{
    background: #eeeded;
}