
//-------- Navigation Bar --------\\

//Side Bar (Left):
.side-bar-container {
    width: auto;
    height: 100%;
    background: #efefef;

}
.side-bar-drawer-content {
    width: 15vw;
    border-radius: 0%;
    background: #ffffff;
}
.btn-side-bar{
    width: 10vw;
}

//Nav Bar (Top):
.nav-bar{
    background: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}