<div>
    <app-generic-header
        [headerData]="headerData"
        [icon]="icon"
        (openedModal)="addPerson()"
        (search)="onSearch($event)">
    </app-generic-header>
</div>

<div class="table">
    <app-generic-table
        [columns]="['id','firstName', 'lastName']"
        [data$]="persons$"
        [totalItems$]="totalItems$"
        (deleteEntity)="deletePerson($event)"
        (editEntity)="editPerson($event)"
        (pageChange)="pageChange($event)"
        >
    </app-generic-table>
</div>