<div class="header-table">
    <div>
        <mat-form-field>
            <mat-label>{{headerData}}</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Search..."/>
        </mat-form-field>
        
        <button mat-icon-button>
            <mat-icon (click)="onSearch()">search</mat-icon>
        </button>
    </div>

    <button mat-flat-button (click)="addEntity()">
        <span>Ajouter</span>
        <mat-icon>{{icon}}</mat-icon>
    </button>
</div>
